$btn-lg-size: 48px;
$btn-sm-size: 30px;
$btn-md-size: 35px;
$btn-xs-size: 24px;
.te-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  color: #424242;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: $button-border-radius;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
  overflow: hidden;
  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.225);
  }
  // button size
  &.te-button--lg {
    height: $btn-lg-size;
    line-height: $btn-lg-size;
  }
  &.te-button--sm {
    height: $btn-sm-size;
    padding: 0 1rem;
    line-height: $btn-sm-size;
    font-size: 12px;
  }
  &.te-button--xs {
    height: $btn-xs-size;
    padding: 0 .4rem;
    line-height: $btn-xs-size;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: .2px;
  }
  // button type
  &.te-button--primary {
    color: #fff;
    background-color: $primary;
  }
  &.te-button--danger {
    color: #fff;
    background-color: $danger;
  }
  &.te-button--warning {
    color: #fff;
    background-color: $warning;
  }
  &.te-button--success {
    color: #fff;
    background-color: $success;
  }
  &.te-button--dark {
    color: #fff;
    background-color: $dark;
  }
  // disable
  &.te-button--disabled {
    cursor: not-allowed;
    &:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
    }
  }
  // circle
  &.is-circle {
    width: $btn-md-size;
    height: $btn-md-size;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 0;
    &.te-button--lg {
      width: $btn-lg-size;
      height: $btn-lg-size;
    }
    &.te-button--sm {
      width: $btn-sm-size;
      height: $btn-sm-size;
    }
    &.te-button--xs {
      width: $btn-xs-size;
      height: $btn-xs-size;
    }
  }
  // 波纹效果
  .ripple {
    display: block;
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
  }
  // 波纹动画
  .animated {
    animation: ripple 0.6s linear;
  }
}
.te-button + .te-button {
  margin-left: 10px;
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
